.chat-icon {
    background: gray;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.search-user-container {
    position: fixed;
    right: 40px;
    bottom: 15px;
    color: white;
    background: #1e1f26;
    height: 40%;
    width: 15%;
    box-shadow: 1px 9px 10px -3px black;

    .header {
        margin-right: 10px;
        margin-left: 10px;
        display: inline;

        .title {
            font-size: larger;
            display: inline-block;
            padding-top: 10px;
        }

        .close-icon {
            float: right;
            display: inline-block;
            margin-top: 2px;
            padding-top: 10px;
            margin-right: 5px;
            cursor: pointer;
        }
    }

    .content {
        margin-left: 10px;

        .search-input {
            width: 95%;
        }

        .user-line {
            margin-bottom: 10px;
            cursor: pointer;

            .user-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                font-size: 20px;
                line-height: 40px;
                font-weight: 400;
                color: white;
                display: inline-block;
            }
    
            .username {
                margin-left: 10px;
                display: inline-block;
            }
        }
    }
}

.messages-container {
    position: fixed;
    right: 40px;
    bottom: 15px;
    color: white;
    background: #1e1f26;
    height: 40%;
    width: 15%;
    box-shadow: 1px 9px 10px -3px black;

    .header {
        margin-right: 10px;
        margin-left: 10px;
        .user-line {
            display: inline-block;
            margin-top: 10px;

            .user-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                font-size: 15px;
                line-height: 30px;
                font-weight: 400;
                color: white;
                display: inline-block;
            }

            .username {
                margin-left: 10px;
                display: inline-block;
            }
        }

        .close-icon {
            float: right;
            display: inline-block;
            margin-top: 2px;
            padding-top: 10px;
            margin-right: 5px;
            cursor: pointer;
        }
    }

    .content {
        height: 68%;
        margin-top: 10px;
        max-height: 68%;
        overflow-x: hidden;
        overflow-y: auto;

        .message-reveived-line {
            width: 100%;
            margin-top: 10px;
            margin-left: 10px;
            display: inline-flex;
            
            .user-image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                font-size: 15px;
                line-height: 30px;
                font-weight: 400;
                color: white;
                display: inline-block;
            }

            .message {
                margin-left: 10px;
                display: inline-block;
                background: #800080;
                font-size: bold;
                border-radius: 8px;
                padding: 6px;
            }
        }

        .message-sender-line {
            margin-top: 10px;
            display: flow-root;

            .message {
                float: right;
                margin-right: 10px;
                background: #6c757d;
                font-size: bold;
                border-radius: 8px;
                padding: 6px;
            }
        }
        
    }

    .bottom {
        margin-left: 10px;

        .mat-form-field {
            width: 85%;
        }

        .send-icon {
            cursor: pointer;
            margin-left: 10px;
        }
    }
}


