.mat-table {
    width: 100%;
}

.add-user-button {
    margin-bottom: 15px;
    //background: #00529b;
    float: right;
    margin-top: -38px;
}

.mat-column-edit {
    width: 10%;
}

.input-group {
    width: 15% !important;
}