/* You can add global styles to this file, and also import other style files */
.red-snackbar {
    background: #e62020;
}

button:focus {
    outline: none !important;
}

body {
    background: black;
}

.mat-dialog-container {
    background: #1e1f26;
}

.mat-expansion-panel {
    background: #1e1f26;
}