.parent-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.product-item {
    margin-right: 15px;
    width: 24%;
    margin-bottom: 15px;
}

.mat-card {
    height: 100%;
    background: #1e1f26;
    color: white;

    .mat-card-subtitle {
        color: white;
    }

    button {
        color: #1e1f26;
        background: #800080;
        border-radius: 18px;
        text-align: center;
    }
}


