<div class="input-group">
    <input type="text" class="form-control" placeholder="Search a product type" [(ngModel)]="filterSearch"
        (input)="onFilterChanged()">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<button mat-flat-button class="add-product-type-button" color="primary" (click)="saveProductType()">
    Add product type
    <span class="material-icons">
        add_circle
    </span>
</button>

<mat-accordion *ngIf="productTypes">
    <mat-expansion-panel *ngFor="let productType of filteredProductTypes" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="product-type-name">
                    {{productType.name}}
                </span>
            </mat-panel-title>
            <mat-panel-description>
                <div class="description-panel">
                    <span>
                        {{productType.description}}
                    </span>
                    <button class="delete-icon" mat-button
                        (click)="removeProductType(productType);$event.stopPropagation();">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let attributeType of productType.attributeTypes">
            <p>{{attributeType.name}}: {{DataType[attributeType.dataType]}}</p>
        </div>
    </mat-expansion-panel>
</mat-accordion>