.input-group {
    width: 15% !important;
    margin-bottom: 15px;
}

.add-product-type-button {
    float: right;
    margin-top: -50px;
    background: #800080;
}

.btn-secondary {
    background-color: #1e1f26;
    border-color: #1e1f26;
}

::ng-deep .mat-expansion-panel-header-title {
    width: 30% !important;
    flex-grow: 0 !important;
    padding-top: 7px !important;
}

::ng-deep .mat-expansion-panel-header-description {
    padding-top: 7px !important;
}

.product-type-name {
    font-weight: bold;
}

.description-panel {
    width: 100%;

    .delete-icon {
        float: right;
        margin-top: -7px;
    }
}