<form class="example-form" *ngIf="user">
    <p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="text" matInput [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let role of rolesKeys" [value]="roles[role]">
                    {{role}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
</form>
<button mat-flat-button [disabled]="!user.username || !user.email || user.role == null || user.role == undefined" [mat-dialog-close]="user" color="primary">
    Save
</button>