.profile-menu-topbar {
    width: 270px;
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
  
    .mat-menu-item .mat-icon {
      margin-right: 12px;
    }
  
    .icon-profile-menu-topbar {
      width: 40px;
      height: 40px;
      background: gray;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      font-weight: 400;
      color: white;
      margin-left: 16px;
      display: inline-block;
    }
  
    .info-profile-menu-topbar {
      margin-left: 12px;
      color: gray;
  
      .display-name-profile-menu-topbar {
        font-size: 16px;
        line-height: 19px;
      }
    }
  
    .expand-profile-menu-topbar {
      position: absolute;
      right: 16px;
      cursor: pointer;
    }
  }
  
  .roche-logo {
    width: 48px;
    height: 25px;
    margin-left: 9px;
    margin-right: 20px;
  
    .cls-1 {
      fill: blue;
    }
  }