<form class="example-form">
    <p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Old password</mat-label>
            <input type="password" matInput [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" matInput [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Confirm New Password</mat-label>
            <input type="password" matInput [(ngModel)]="confirmationPaswword" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </p>
</form>
<button mat-flat-button [disabled]="newPassword != confirmationPaswword" color="primary" (click)="changePassword()">
    Save
</button>