.product-item {
    margin-right: 30px;
    min-height: 300px;
}

.add-content {
    .input-image { 
        display: none;
    }

    button {
        color: #1e1f26 !important;
        background: #800080;
        border-radius: 18px;
    }
}

.mat-card {
    height: 100%;
    background: #1e1f26;
    color: white;

    .mat-card-subtitle {
        color: white;
    }

    button {
        color: #800080 !important;
    }
}

.mat-card-actions {
    bottom: 16px;
    position: absolute;
    width: 96%;

    button {
        float: right;
    }
}

.mat-card-content {
    margin-bottom: 40px;
}

.add-card {
    button {
        width: 100px;
        margin: -20px -50px;
        position: relative;
        top: 50%;
        left: 50%;
    }
}

.mat-card-header {
    margin-bottom: 10px;
    color: gray;
}

.mat-card-actions {
    button {
        color: #20B2AA !important;
    }
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-flex {
    background: #1e1f26 !important;
    border: white 1px solid;
}

