<mat-card *ngIf="product" class="product-item">
    <mat-card-header>

        <!-- <span>
            Add new product
        </span> -->
    </mat-card-header>
    <mat-card-content>

        <div class="add-content">

            <!-- Product Type Select -->
            <form class="product-type-form">
                <mat-form-field appearance="fill">
                    <mat-label>Product Type</mat-label>
                    <mat-select [(ngModel)]="product.productType" [ngModelOptions]="{standalone: true}"
                        (selectionChange)="resetAttributeValues()">
                        <mat-option *ngFor="let productType of productTypes" [value]="productType">
                            {{productType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <!-- Price  -->
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <div *ngIf="product && product.productType && product.attributeValues">
                    <div *ngFor="let attributeType of product.productType.attributeTypes; let i = index">
                        <div [ngSwitch]="attributeType.dataType">
                            <mat-form-field *ngSwitchCase="DataType.String" appearance="outline">
                                <mat-label>{{attributeType.name}}</mat-label>
                                <input type="text" matInput [(ngModel)]="product.attributeValues[i].value"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field *ngSwitchCase="DataType.Integer" appearance="outline">
                                <mat-label>{{attributeType.name}}</mat-label>
                                <input type="number" matInput [(ngModel)]="product.attributeValues[i].value"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field *ngSwitchCase="DataType.Float" appearance="outline">
                                <mat-label>{{attributeType.name}}</mat-label>
                                <input type="number" step="0.5" matInput [(ngModel)]="product.attributeValues[i].value"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-slide-toggle *ngSwitchCase="DataType.Boolean"
                                [(ngModel)]="product.attributeValues[i].value" [ngModelOptions]="{standalone: true}">
                                {{attributeType.name}}</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <input class="input-image" type='file' (change)="onSelectFile($event)" #fileInput>
        <button class="image-button" (click)="fileInput.click()">
            <span class="material-icons">
                insert_photo
            </span>
        </button>
        <button class="action-button" mat-button (click)="saveProduct()"
            [disabled]="!product.productType || !product.price">
            Save
        </button>
        <button class="action-button" mat-button (click)="cancel()">
            Cancel
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="add-card" *ngIf="!product">
    <button mat-button (click)="addNewProduct()">Add</button>
</mat-card>